{% if dsp_crts %}
<h5>
	Display Criteria
</h5>
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th colspan="2">Criterion</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		{% for dsp_crt in dsp_crts %}
		<tr>
			<td>
				{{ dsp_crt.crit_name }}
			</td>
			<td>
				{{ dsp_crt.crit_op_ }}
			</td>
			<td>
				{% if dsp_crt.crit_value %}
				{{ dsp_crt.crit_value }} <span class="muted">{{ dsp_crt.crit_code }}</span>
				{% else %}
				{{ dsp_crt.crit_code }}
				{% endif %}
			</td>
		</tr>
		{% else %} 
		<tr><td colspan="3">None found.</td></tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}