<div data-spy="affix" class="span3" data-offset-top="0" style="margin:0;">
	
	<ul class="nav nav-tabs nav-stacked">
		<li {{ urlActive('') }}>
			<a href="{{ urlFor('home') }}">Home</a>
		</li>
		
		
	</ul>
	
	<h4>
		Reference Data
	</h4>
	
	<ul class="nav nav-tabs nav-stacked">
		<li {{ urlActive('app_reqs') }}>
			<a href="{{ urlFor('app_reqs') }}">Application Requirements
			</a>
		</li>
		<li {{ urlActive('doc_reqs') }}>
			<a href="{{ urlFor('doc_reqs') }}">Document Requirements
			</a>
		</li>
		<li {{ urlActive('cnf_ems') }}>
			<a href="{{ urlFor('cnf_ems') }}">Confirmation Emails
				<span class="nav-subtitle">eApplication Submission Texts</span>
			</a>
		</li>
		<li {{ urlActive('std_cds') }}>
			<a href="{{ urlFor('std_cds') }}">Dropdown Lists
				<span class="nav-subtitle">Standard Codes</span>
			</a>
		</li>
		
	</ul>
	<ul class="nav nav-tabs nav-stacked">
		<li {{ urlActive('tags') }}>
			<a href="{{ urlFor('tags') }}">Tags
			</a>
		</li>
	</ul>
	
	<h4>
		Configuration
	</h4>
	
	<ul class="nav nav-tabs nav-stacked">
		
		
		
		
		<li {{ urlActive('inst') }}>
			<a href="{{ urlFor('inst') }}">Institution Configuration
			</a>
		</li>
		<li {{ urlActive('spk_cats') }}>
			<a href="{{ urlFor('spk_cats') }}">Course Type Configuration
				<span class="nav-subtitle">Study Package Category Types</span>
			</a>
		</li>
		<li {{ urlActive('spk_cds') }}>
			<a href="{{ urlFor('spk_cds') }}">Course Configuration
				<span class="nav-subtitle">Study Packages</span>
			</a>
		</li>
		
	</ul>
	
	
	<h4>
		Maintenance
	</h4>
	
	<ul class="nav nav-tabs nav-stacked">
		
		
		
		<!--<li><a href="#">Edit</a></li>-->
		<li {{ urlActive(['sql_queries', 'sql_query']) }}>
			<a href="{{ urlFor('sql_queries') }}">SQL Queries</a>
		</li>
		<li {{ urlActive('import') }}>
			<a href="{{ urlFor('import') }}">Import Data</a>
		</li>
	</ul>
</div>

<!--<div class="pagination" style="position:absolute;bottom:10px;">
<ul>
<li><a href="#">Top</a></li>
</ul>
</div>-->